VITE_API_URL=http://localhost:5000/api/courses

# Firebase Web (ambil dari Firebase Console > Project settings > Your apps > Web app)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=video-belajar-787c8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=video-belajar-787c8
VITE_FIREBASE_STORAGE_BUCKET=video-belajar-787c8.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
